.ds-main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ds-main-layout__content {
  flex: 1;
  padding: 2rem 0;
}

.ds-main-layout__content--contained {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

.ds-main-layout__content--full {
  width: 100%;
}
